html{
    background-color: #1d1b1b;
}

.main{
    background-color: #535353;
    min-height: 600px;
    max-width: 600px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    fle
}

img{
    border-radius: 50%;
}

